* {
    box-sizing: border-box;
}

:root {

    font-family: roboto;

    --white: #fafafa;
    --black: #080808;

    --main-text-color: var(--black);

    --menu-bg-color: #60a5fa;

    --card-bg-color: #768BA5;

}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 16.25vw 1fr;
}

.menu {
    background-color: var(--menu-bg-color);
}

.content-container {
    background-color: var(--white);
    padding: 0px 52px;
}

.content-container h1 {
    color: var(--main-text-color);
    text-align: center;
    font-size: 2.5em;
}

/***** TODO CARD *****/

.todo-card-parent-div {
    color: var(--main-text-color);
    background-color: var(--card-bg-color);
    padding: 8px;
    width: 260px;
    height: 195px;
    box-shadow: 0px 0px 6px 2px var(--black);
}