* {
    box-sizing: border-box;
}

:root {

    font-family: roboto;

    --white: #fafafa;
    --black: #080808;

    --main-txt-color: var(--black);

    --menu-bg-color: #bfdbfe;

    --card-bg-color: #e2e8f0;

}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 16.25vw 1fr;
}

.menu {
    background-color: var(--menu-bg-color);
}

.content-main-div {
    background-color: var(--white);
    padding: 0px 52px;
}

.content-main-div h1 {
    color: var(--main-txt-color);
    text-align: center;
    font-size: 2.5em;
}

button,
nav {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.dots-btn {
    background: url(./images/dots-vertical.svg);
    background-repeat: no-repeat;
}

.del-btn {
    background: url(./images/delete.svg);
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    height: 20px;
    width: 20px;
}

.toggle-view-mode-btn {
    padding: 0;
    border: 0;
    width: 20px;
    height: 20px;
}

.toggle-view-mode-btn[card] {
    background: url(./images/card-view.svg);
    background-repeat: no-repeat;
}

.toggle-view-mode-btn[list] {
    background: url(./images/list-view.svg);
    background-repeat: no-repeat;
}

/****************/
/***** MENU *****/
/****************/

.menu {
    padding-left: 36px;
}

.menu {
    color: var(--main-txt-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 64px;
    padding-left: 36px;
    padding-bottom: 64px;
}

.menu-section ul {
    padding: 0;
    list-style: none;

    display:grid;
    gap: 6px;
}

#menu-pages {
    margin-bottom: 64px;
}

#menu-projects-nav-btn {
    display: grid;
    grid-template-columns: 1fr max-content;
}

#menu-projects-nav-btn nav {
    margin: auto 0;
}

#menu-projects-nav-btn button {
    background: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0px 6px;
    border: 0;
    margin-right: 24px;
}

/*********************/
/***** TODO CARD *****/
/*********************/

.todo-card-parent-div {
    color: var(--main-txt-color);
    background-color: var(--card-bg-color);
    padding: 8px;
    padding-right: 0px;
    width: 260px;
    height: 195px;
    box-shadow: 0px 0px 6px 2px var(--black);
    position: relative;

    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.8fr;
    grid-template-columns: 1fr 24px;
}

.todo-card-field {
    margin-bottom: 8px;

    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 20px;
}

.todo-card-field:not([edit]):hover {
    cursor: pointer;
    background-color: var(--menu-bg-color);
}

.todo-card-field[edit] {
    grid-template-columns: 1fr;
}

.todo-card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.todo-card-due-date {
    grid-row: 2;
    grid-column: 1 / -2;
}

.todo-card-txt {
    grid-row: 3;
    grid-column: 1 / -2;

    grid-template-rows: 1fr 20px;
}

.todo-card-txt > div {
    grid-row: 1 / 3;
    grid-column: 1;
}

.todo-card-txt > .todo-card-edit-btn {
    grid-row: 1;
    grid-column: 2;
}

.todo-card-parent-div .dots-btn {
    padding: 0;
    border: 0;
    width: 24px;
    height: 24px;

    grid-row: 1;
    grid-column: 2;
}

.todo-card-options-div {
    background-color: #f1f5f9;
    opacity: 95%;
    font-size: 1.1rem;
    padding: 8px 0px;
    position: absolute;
    top: 30px;
    right: 8px;
}

.todo-card-options-div ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display:grid;
    grid-auto-columns: 120px;
}

.todo-card-options-div li {
    margin-bottom: 4px;
}

.todo-card-option-btn {
    background-color: inherit;
    font-size: inherit;
    text-align: left;
    padding: 1px 8px;
    border: 0;
    width: 100%;
}

.todo-card-option-btn:hover {
    background-color: var(--menu-bg-color);
}

.todo-card-edit-btn {
    background: none;
    background-image: url(./images/pencil.svg);
    background-size: 100% 100%;
    border: 0;
    width: 20px;
    height: 20px;
}

.todo-card-edit-div {
    background-color: #fafafa;
    padding: 4px;
}

.todo-card-edit-div input:focus,
.todo-card-edit-div textarea:focus {
    outline: 0;
}

.todo-card-ok-btn {
    background: none;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0;
    border: 0;
}

.todo-card-title .todo-card-edit-div {
    font-weight: bold;

    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr max-content;
}

.todo-card-title input {
    background: none;
    font-weight: inherit;
    padding: 0;
    padding-left: 8px;
    border: 0;
}

.todo-card-due-date .todo-card-edit-div {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: max-content 1fr 20px;
}

.todo-card-due-date input {
    background: 0;
    border: 0;
}

.todo-card-due-date .todo-card-ok-btn {
    grid-column: 3;
}

.todo-card-txt .todo-card-edit-div {

    display: grid;
    grid-template-rows: 1fr 20px;
    grid-template-columns: 1fr 20px;
}

.todo-card-txt textarea {
    background: none;
    border: 0;
    height: 100%;
    resize: none;

    grid-row: 1 / 3;
    grid-column: 1;
}

.todo-card-txt .todo-card-ok-btn {
    grid-row: 2;
    grid-column: 2;
}

/*************************/
/***** PROJECTS PAGE *****/
/*************************/

.projects-list {
    padding: 0;
    border-top: 1px solid var(--border-color);
    list-style: none;

    --border-color: #e0e0e0;

    display: flex;
    flex-direction: column;
}

.projects-list > li {
    background-color: #fefefe;
    padding: 20px 12px;
    border-bottom: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: 1fr max-content;
}

.projects-list > li > nav {
    font-size: 1.3rem;
    font-weight: bold;
}

/*********************************/
/***** PROJECT CREATION PAGE *****/
/*********************************/

#project-creation-form {
    display:flex;
    flex-direction: column;
}

#project-creation-form > * {
    margin-top: 20px;
}

.form-entry-div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.form-entry-div label {
    font-weight: bold;
    margin: auto 0px;
}

.form-entry-div input {
    font-size: 1rem;
    border: 1px solid #080808;
    padding-left: 1ch;
    border-radius: 10px;
    height: 1.8rem;
}

.form-entry-div input:focus,
.form-entry-div textarea:focus {
    outline: 0;
    border: 2px solid #3b82f6;
}

.form-entry-div input[invalid] {
    border: 2px solid #ef4444;
}

#project-creation-form button {
    align-self: center;
}

/************************/
/***** PROJECT PAGE *****/
/************************/

.project-page-btn-div {
    display: grid;
    grid-template-columns: max-content 1fr 36px;
}

.project-page-btn-div > .toggle-view-mode-btn {
    grid-column: -1;
}

.tasks-div {
    padding: 48px 0px 16px;
}

.tasks-div[card] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tasks-div[card] > * {
    margin-bottom: 32px;
}

.tasks-div[list] {
    display: grid;
    grid-auto-flow: row;
}

/*************************/
/***** TASK CREATION *****/
/*************************/

.task-creation-form {
    padding: 32px 0px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
